{{ define "main" }}

<div class="my-container my-10">
  <div class="mb-10 flex justify-center">
    <img
      class="rounded-full"
      with="512"
      height="512"
      src="/profile.jpg"
      alt="profile picture"
    />
  </div>

  <div class="mx-auto mb-16 max-w-2xl text-center">{{ .Content }}</div>

  <section
    class="mx-auto flex max-w-4xl flex-col items-center gap-8"
    id="experiences"
  >
    {{ with .Site.GetPage "/roles" }}
    <h1 class="text-3xl">{{ .Title }}</h1>

    {{ range first 3 .Pages }} {{ partial "entry.html" . }} {{ end }} {{ end }}
    {{ with .GetPage "roles" }}
    <a class="text-2xl" href="{{ .RelPermalink }}">{{ i18n "all_roles" . }} </a>
    {{ end}}
  </section>
</div>

{{ end }}
