<div class="bg-light-200 py-10 dark:bg-dark-200">
  <div class="flex flex-col items-center gap-3">
    <h2 class="text-xl">Oscar Ahlén</h2>
    <p>Copyright {{ now.Year }}. All rights reserved.</p>

    <div class="flex items-center justify-center">
      <a class="hover-button" href="https://github.com/oahlen">
        {{ partial "svg/github.html" }}
      </a>

      <a class="hover-button" href="https://www.linkedin.com/in/oscar-ahlen/">
        {{ partial "svg/linkedin.html" }}
      </a>

      <a class="hover-button" href="mailto:contact@ahlen.dev">
        {{ partial "svg/mail.html" }}
      </a>
    </div>
  </div>
</div>
