<div class="bg-light-200 dark:bg-dark-200 py-10">
  <div class="flex flex-col items-center gap-3">
    <h2 class="text-xl">Oscar Ahlén</h2>
    <p>Copyright {{ now.Year }}. All rights reserved.</p>

    <div class="flex items-center justify-center">
      <!-- prettier-ignore -->
      {{ partial "links/github.html" (dict "name" "github-link-2") }}
      <!-- prettier-ignore -->
      {{ partial "links/linkedin.html" (dict "name" "linkedin-link-2") }}
      <!-- prettier-ignore -->
      {{ partial "links/mail.html" (dict "name" "mail-link-2") }}
    </div>
  </div>
</div>
