<div class="bg-light-200 py-3 dark:bg-dark-200">
  <div class="my-container flex items-center justify-between">
    <h1 class="text-3xl">
      <a class="text-light-1100 dark:text-dark-1100" href="/"
        >{{ site.Title }}</a
      >
    </h1>
    <div class="flex">
      <button
        class="hover-button"
        id="theme-switcher"
        aria-label="Toggle website theme"
      >
        <svg
          class="fill-light-1100 dark:fill-dark-1100"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 -960 960 960"
        ></svg>
      </button>

      <!-- prettier-ignore -->
      {{ partial "links/github.html" (dict "hide" true) }}
      <!-- prettier-ignore -->
      {{ partial "links/linkedin.html" (dict "hide" true) }}
      <!-- prettier-ignore -->
      {{ partial "links/mail.html" (dict "hide" true)}}
    </div>
  </div>
</div>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
